.ellipse{
    background-image: url('/images/goldypot/details/Ellipse.png') ;
    width: 81px ;
    height: 81px ;
}
.subtitle{
    background-image: url('/images/goldypot/details/subttle.png') ;
    width: 58px ;
    height: 28px ;
}