.bg{
    background-color: #061e28;
    background-image: url('/images/goldypass/base3.jpg') ;
    background-size: cover ;
    width: 100% ;
    height: 100% ;
}

.main_desktop_goldy{
    background-image: url('/images/enhancement/shadow1.png') ;
    background-size: cover ;
    width: 219px ;
    height: 219px ;
}

.grade_desktop_goldy_0{
    background-image: url('/images/enhancement/shadow1.png') ;
    background-size: cover ;
    width: 126px ;
    height: 126px ;
}

.grade_desktop_goldy_1{
    background-image: url('/images/enhancement/shadow1.png') ;
    background-size: cover ;
    width: 85px ;
    height: 85px ;
}
.supplement_desktop{
    background-image: url('/images/enhancement/supplements.png') ;
    background-size: cover ;
    width: 92px ;
    height: 128px 
}

.pet_desktop{
    background-image: url('/images/enhancement/pet.png') ;
    background-size: cover ;
    width: 112px ;
    height: 126px 
}