.goldy_title{
    background-image: url('/images/updated_one/Title_Preset.png') ;
    width: 220px ;
    height: 61px ;
}

.goldy_body{
    background-image: url('/images/updated_one/elemen5t_357.png') ;
    width: 357px ;
    height: 537px ;
}
.attributes_line{
    background-image: url('/images/updated_one/Path 51.png') ;
    width: 338px ;
    height: 29px ;
}