.mainBG{
    background-image: url('/images/slot/draw.png') ;
    width: 838px ;
    height: 731px;
}
.mainBGMobile{
    background-image: url('/images/slot/draw_mobile.png') ;
    width: 300px ;
    height: 262px;
}

.container {
    background-color: #2688dd;
    background-image: url('/images/goldypet/bg.jpeg');
    background-size: cover;
    // height: 100vh;
}