.bgstyle{
    background-image: url('/images/goldypot/howTo/bg.png') ;
    width: 100% ;
    height: auto;
}
.rankTable{
    background-image: url('/images/goldypot/howTo/rankTable.png') ;
    width: 719px ;
    height: 682px ;
}
.rankTableMobile{
    background-image: url('/images/goldypot/howTo/mobile/rankTable.png') ;
    width: 370px ;
    height: 351px ;
}
.POT{
    background-image: url('/images/goldypot/howTo/POT.png') ;
    width: 312px ;
    height: 117px ;
}
.Gru{
    background-image: url('/images/goldypot/howTo/Gru.png') ;
    width: 307px ;
    height: 94px ;
}
.POTMobile{
    background-image: url('/images/goldypot/howTo/mobile/POT.png') ;
    width: 110px ;
    height: 41px ;
}
.GruMobile{
    background-image: url('/images/goldypot/howTo/mobile/Gru.png') ;
    width: 100px ;
    height: 34px ;
}
.lazypots{
    background-image: url('/images/goldypot/howTo/pots.png') ;
    width: 658px ;
    height: 423px ;
    margin-top: -20px;
}