.bg {
    background-image: url('/images/marketplace/bg.jpg') ;
    background-size: cover ;
    // height: 100vh;
}

.side_title {
    background-image: url('/images/marketplace/ui/side_title_192.png') ;
    background-size: cover ;
    width: 192px ;
    height: 32px ;
}
.side_title_142 {
    background-image: url('/images/marketplace/ui/side_title_142.png') ;
    background-size: cover ;
    width: 142px ;
    height: 32px ;
}