.container {
    background-color: #2688dd;
    background-image: url('/images/goldypet/bg.jpeg');
    background-size: cover;
}
.ellipse{
    background-image: url('/images/goldypot/Ellipse.png') ;
    width: 150px ;
    height: 150px ;
}
.ellipse_mobile{
    background-image: url('/images/goldypot/mobile/Ellipse_mobile.png') ;
    width: 56px ;
    height: 56px ;
}
.ellipse_desk{
    background-image: url('/images/goldypot/desk/Ellipse_desk.png') ;
    width: 100px ;
    height: 100px ;
}

.bar {
    background-image: url('/images/goldypot/bar.png') ;
    width: 650px ;
    height: 67px ;
    z-index: 1;
}

// 
.bar_mobile {
    background-image: url('/images/goldypot/mobile/bar_mobile.png') ;
    // background-image: url('/images/goldypot/bar.png') ;
    width: 133px ;
    height: 25px ;
    z-index: 1;
}

.nftbar_mobile {
    background-image: url('/images/goldypot/mobile/nftbar_mobile.png') ;
    width: 179px ;
    height: 24px ;
    z-index: 1;
}

.nftbar_mobile2 {
    background-image: url('/images/goldypot/mobile/nftbar_mobile2.png') ;
    width: 251px ;
    height: 24px ;
    z-index: 1;
}

// 
.bar_desk {
    background-image: url('/images/goldypot/desk/bar_desk.png') ;
    width: 450px ;
    height: 25px ;
    z-index: 1;
}

.nftbar_desk {
    background-image: url('/images/goldypot/desk/nftbar_desk.png') ;
    width: 502px ;
    height: 25px ;
    z-index: 1;
}
.bar_desk2 {
    background-image: url('/images/goldypot/desk/bar_desk2.png') ;
    width: 150px ;
    height: 25px ;
    z-index: 1;
}

.nftbar_desk2 {
    background-image: url('/images/goldypot/desk/nftbar_desk2.png') ;
    width: 175px ;
    height: 25px ;
    z-index: 1;
}

.nftbar {
    background-image: url('/images/goldypot/nftbar.png') ;
    width: 1342px ;
    height: 67px ;
    z-index: 1;
}
.nftbar2 {
    background-image: url('/images/goldypot/nftbar2.png') ;
    width: 916px ;
    height: 67px ;
    z-index: 1;
}
.nftbar1 {
    background-image: url('/images/goldypot/nftbar1.png') ;
    width: 500px ;
    height: 67px ;
    z-index: 1;
}
.nftbar3 {
    background-image: url('/images/goldypot/nftbar3.png') ;
    width: 300px ;
    height: 67px ;
    z-index: 1;
}
.nftcircle {
    background-image: url('/images/goldypot/nftcircle.png') ;
    width: 68px ;
    height: 67px ;
    z-index: 1;
}
.nftcup {
    background-image: url('/images/goldypot/cup.png') ;
    width: 762px ;
    height: 450px ;
    z-index: 0;
    margin-top: 7px ;

}
.subtitle{
    background-image: url('/images/goldypot/subtitle.png') ;
    width: 106px ;
    height: 50px ;
}
.subtitle_mobile{
    background-image: url('/images/goldypot/mobile/subtitle_mobile.png') ;
    width: 39px ;
    height: 18px ;
}
.subtitle_desk{
    background-image: url('/images/goldypot/desk/subtitle_desk.png') ;
    width: 70px ;
    height: 33px ;
}
.round{
    background-image: url('/images/goldypot/round.png') ;
    width: 254px ;
    height: 58px ;
}
.round_desk{
    background-image: url('/images/goldypot/desk/round_desk.png') ;
    width: 100px ;
    height: 23px ;
}
.round_mobile{
    background-image: url('/images/goldypot/mobile/round_mobile.png') ;
    width: 45px ;
    height: 22px ;
}
.activityBgImg{
    background-image: url('/images/goldypot/activityBg.png') ;
    width: 420px ;
    height: 272px ;
}
.activityBgImgMobile{
    background-image: url('/images/goldypot/mobile/activityBg.png') ;
    width: 172px ;
    height: 111px ;
}

.fullalarm{
    background-image: url('/images/goldypot/full.png') ;
    width: 119px ;
    height: 47px ;
}
.openalram{
    background-image: url('/images/goldypot/open.png') ;
    width: 114px ;
    height: 47px ;
}
.lockalram{
    background-image: url('/images/goldypot/lock.png') ;
    width: 114px ;
    height: 47px ;
    z-index: 1;
}

.fullalarmMobile{
    background-image: url('/images/goldypot/mobile/full.png') ;
    width: 42px ;
    height: 18px ;
}
.openalramMobile{
    background-image: url('/images/goldypot/mobile/open.png') ;
    width: 42px ;
    height: 18px ;
}
.lockalramMobile{
    background-image: url('/images/goldypot/mobile/lock.png') ;
    width: 42px ;
    height: 18px ;
    z-index: 1;
}

.Path{
    background-image: url('/images/goldypot/path.png') ;
    width: 22px ;
    height: 29px ;
    z-index: 2;
}
.PathMobile{
    background-image: url('/images/goldypot/mobile/path.png') ;
    width: 8px ;
    height: 11px ;
    z-index: 2;
}
.comingSoon{
    background-image: url('/images/goldypot/comingsoon.png') ;
    width: 89px ;
    height: 25px ;
}
.comingSoonMobile{
    background-image: url('/images/goldypot/mobile/comingsoon.png') ;
    width: 69px ;
    height: 19px ;
}
.upcoming1{
    background-image: url('/images/goldypot/up1.png') ;
    width: 237px ;
    height: 153px ;
}
.pastClose{
    background-image: url('/images/goldypot/closed.png') ;
    width: 85px ;
    height: 36px ;
}
.pastCloseMobile{
    background-image: url('/images/goldypot/mobile/closed.png') ;
    width: 47px ;
    height: 20px ;

}
.gif{
    width: 800;
    height: 800;
}
.carousel {
    width:900px;
    height:500px;
    margin: auto;
  }